<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index'}} Index {{/link-to}}
<br>

{{#link-to 'post.details' 42}} Post Details {{/link-to}}
<br>

{{#link-to 'wall' 'c42' 'r42' 'w42'}} Wall {{/link-to}}
<br>

<a href="/does-not-exist">Does not exist</a>
<br>

{{outlet}}
